name: Build-APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3 python3-dev zip unzip zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev libbz2-dev libreadline-dev libsqlite3-dev autoconf automake libtool pkg-config
          pip install --user --upgrade buildozer cython==0.29.33 kivy

      - name: Build APK
        run: |
          # Is baar hum direct build karenge bina pipe ke
          buildozer -v android debug
        env:
          # Ye line licenses ko bina error ke accept kar legi
          APP_ANDROID_ACCEPT_SDK_LICENSE: "True"
        
      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: My-Android-App
          path: bin/*.apk
